<body>
<header>
    <div class="header_container">
        <a class="title" href="index.htm">タイトル</a>
        <ul class="login sign-up">　
            <li><a href="log-in.htm">ログイン</a></li>
            <li><a href="sign-up.htm">新規登録</a></li>
        </ul>
    </div>
</header>

<div class="main_container">
    <form action="" method="post">　<!--actionに送信先のプログラム名を入れてください-->
        <input class="search" type="search" name="search" id="keyword" value="検索">
        <input class="btn" type="submit" value="検索">
    </form>

    <!--ここに投稿が入ります-->

</div>

<footer>
    <div>&copy;とっくんサロン開発</div>
</footer>






    
</body>
