<div class="top_main_container">
    <form action="" method="post">
        <input class="search" type="search" name="search" id="keyword" placeholder="検索">
        <input class="btn_primary" type="submit" value="検索">
    </form>
    <!--ここに投稿が入ります-->
</div>