<div class="main_container">
    <form action="" method="post">　<!--actionに送信先のプログラム名を入れてください-->
        <input class="search" type="search" name="search" id="keyword" value="検索">
        <input class="btn" type="submit" value="検索">
    </form>

    <!--ここに投稿が入ります-->

</div>