<header>
    <div class="header_container">
        <a class="title" href="index.htm">タイトル</a>
        <ul class="login sign-up">　
            <li><a href="log-in.htm">ログイン</a></li>
            <li><a href="sign-up.htm">新規登録</a></li>
        </ul>
    </div>
</header>

<div class="main_container">
    <form action="" method="post">　<!--actionに送信先のプログラム名を入れてください-->
      <div class="name">
        <label for="user_name">ユーザー名:</label>
        <input type="text" name="user_name" id="user_name">
      </div>
      <div class="nickname">
        <label for="nick_name">ニックネーム:</label>
        <input type="text" name="nick_name" id="nick_name">
      </div>
      <div class="mail">
        <label for="user_email">E-mail:</label>
        <input type="email" name="user_email" id="user_email">
      </div> 
      <div class="pass">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"></p>
      </div>
      
      <input class="login_btn"  type="submit" value="ログイン">
      
    </form>


</div>

<footer>
    <div>&copy;とっくんサロン開発</div>
</footer>