    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<header>
    <div class="header_container">
        <a class="title" href="index.htm">タイトル</a>
    </div>
</header>

<h2>新規投稿</h2>

<div class="main_container">
    <form action="" method="post">　<!--actionに送信先のプログラム名を入れてください-->
        <div class="img">
            <input type="file" id="imgFile">
        </div><br>
        
        <img id="preview">
        
        <div class="imageTitle">
            <input type="text" name="title" id="imgTitle" placeholder="タイトル" required>
        </div><br>
        
        <div class="coment">
            <textarea name="about" id="about" cols="50" rows="10" placeholder="内容を記入ください" required></textarea>
        </div>
        
        <input class="submit_btn" type="submit" value="投稿">
        
    </form>
    
    
</div>

<footer>
    <div>&copy;とっくんサロン開発</div>
</footer>

<script src="/Users/yushiro/Documents/GitHub/tweet_by_salon/app/assets/javascripts/postPreview.js"></script>