$white: #fff;
$light-grey-f5: #f5f5f5;
$cyan: #0099E8;
$grey: #ccc;
$red: #EA352D;
$grey-black: #333;
$middle-grey: #888888;
$light-grey: #eee;
$silver-grey: #979797;
$dark-blue: #385185;
$light-blue: #e8f0fe;
$login-btn_bule: #0095ee;
$hover_blue: #0195ee;
$black: #000000;
$ultra-light-grey: #fafafa;