$white: #fff;
$light-grey-f5: #f5f5f5;
$cyan: #0099E8;
$grey: #ccc;
$grey-black: #333;
$middle-grey: #888888;
$light-grey-e: #eee;
$silver-grey: #979797;
$dark-blue: #385185;
$light-blue: #e8f0fe;
$bright-blue: #0095ee;
$light-grey-fa: #fafafa;