 .btn_primary {
     width: 100px;
     height: 40px;
     display: flex;
     justify-content: center;
     -webkit-appearance: none;
     font-size: 18px;
     font-weight: bold;
     border-radius: 10px;
     box-shadow: 0px 5px 5px;
     outline: none;
 }
 
 .btn_primary:active {
     -webkit-transform: translateY(3px);
     transform: translateY(3px);
     /*下に動く*/
     box-shadow: 0px 0px 0px;
 }