// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.tweet_main_container {
    width: 100%;
    height: 80%;
    @include background-color();
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    form {
        color: $main-color;
        width: inherit;
        .title,
        .tag,
        .text,
        .nickname {
            max-width: 700px;
            width: 70%;
            margin: auto;
            height: auto;
            margin-top: 1rem;
            label {
                width: 100px;
                font-weight: bold;
            }
            input {
                width: 100%;
                outline: none;
            }
            textarea {
                width: 100%;
                height: 100px;
            }
            .pass {
                label {
                    margin-right: 20px;
                }
            }
        }
        .img {
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .nickname {
            text-align: right;
        }
        .post_btn {
            text-align: right;
            width: 70%;
            max-width: 700px;
            margin: auto;
            margin-top: 1rem;
        }
    }
}